@import url('./variables.css');
@import url('./home.css');
@import url('../../components/ProductList/ProductList.css');
@import url('../../components/NavBar/NavBar.css');
@import url('../../components/Loader/Loader.css');
@import url('../../components/ErrorMessage/ErrorMessage.css');
@import url('../../components/Dialog/Dialog.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
  background: var(--white-color);
}
